@import '../../../../assets/styles/page-size.scss';

.appbar {
  width: calculate(100);
  height: calculate($app-bar-height);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-container);

  &.default-appbar {
    background: #fff;
  }

  .icon {
    width: fit-content;
    height: fit-content;
    font-size: calculate(2);
    line-height: calculate(2);
    margin: 0 calculate(0.5) 0 0;
    padding: 0;
    color: var(--blue-dark);
  }

  .text {
    margin: 0 !important;
    padding: 0 !important;
    font-size: calculate(2);
    line-height: calculate(2);
    color: var(--blue-dark);
    font-weight: 500;
  }
}
